/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

//front page
.shop-stuff {
	width: auto;
	height: auto;
	display: flex;
	ul {
		display: flex;
		width: $width;
		justify-content: space-between;
		padding: 0;
		margin: 0;
		margin-bottom: 40px;
		li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width:260px;
			border: 1px $color__border solid;
			border-top: 5px $color__border solid;
			padding: 10px;
			&:first-child {
				margin-left: 5px;
			}
			&:last-child {
				margin-right: 5px
			}
			&:hover {
				border-color: darken($color__yellow-brand, 20%);
			}
			img {
				width: 70px;
				height: 70px;
			}
			p {
				text-align: center;
				font-size: 1.2em;
			}
			a {
				color: white;
				padding: 6px 22px;
				text-transform: uppercase;
				background-color: $color__green-brand;
				&:link {
					text-decoration: none;
				}
				&:visited {
					color: white;
				}
				&:hover {
					background-color: darken($color__green-brand, 20%);
				}
			} 
		}
	}
}

div.most-recent-journal {
	width: $width;
	display: flex;
	justify-content: space-between;
	margin: 100px 0;
	.journal-recent-block-item {
		display: flex;
		flex-direction: column;
		border: 1px $color__border solid;
		width: 360px;
		img {
			width: 360px;
			height: 250px;
			object-fit: cover;
			border-bottom: 5px $color__border solid;
		}
	}
}

div.words-wrapper {
	padding: 10px;
	padding-bottom: 2px;
	.entry-meta {
		font-size: 0.9em;
	}
	.blog-post-title {
		margin: 0;
		text-transform: uppercase;
		font-size: 1.5em;
		a:link {
			text-decoration: none;
		}
	}
}

.read-more-link {
	width:146px;
	height: 44px;
	margin: 24px 0 0;
	a {
		border: 1px black solid;
		padding: 10px 22px;
		text-transform: uppercase;
		&:link {
			color: black;
			text-decoration: none;
		}
		&:visited {
			color: black;
		}
	} 
	&:hover {
		a {
			background-color: $color__green-brand;
			border: 1px $color__m-grey-brand solid;
			color: white;
		}
	}
}

.adventures-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5em;
	margin: 140px;
}

.adventures-container {
	display: grid;
	width: $width;
	height: 570px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 30px;
	grid-template-areas: "img1 img1 img2 img2" "img1 img1 img3 img4";
	grid-gap: 20px;
	grid-auto-flow: row;
	margin-bottom: 85px;
	h3 {
		color: $color__background-body;
		font-size: 2.3rem;
		line-height: 1.2;
		padding: 0;
		margin: 0;
		font-weight: 100;
	}
	.adventures-img1-container {
		grid-area: img1;
	}.adventures-img2-container {
		grid-area: img2;
	}
	.adventures-img3-container {
		grid-area: img3;
	}
	.adventures-img4-container {
		grid-area: img4;
	}
	.adventures-img4-container, .adventures-img3-container, .adventures-img2-container, .adventures-img1-container {
		overflow: hidden;
	}
	.adventures-img1 {
		background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/adventure-photos/canoe-girl.jpg');
	}
	.adventures-img2 {
		background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/adventure-photos/beach-bonfire.jpg');
	}
	.adventures-img3 {
		background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/adventure-photos/mountain-hikers.jpg');
	}
	.adventures-img4 {
		background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/adventure-photos/night-sky.jpg');
	}
	.adventures-img1, .adventures-img2, .adventures-img3, .adventures-img4 {
		transform: scale(1.2);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
	}
	.adventures-img1, .adventures-img2{
		padding: 89px 70px;
	}
	.adventures-img2{
		background-position: center 85%;
		padding-top: 66px;
	}
	.adventures-img3, .adventures-img4 {
		padding: 40px 35px;
		h3 {
			font-size: 1.6rem;
		}
	}
	.read-more-link .read-more {
		color: $color__background-body;
		border-color: $color__background-body;
		background-color: none;
		&:hover {
			border-color: $color__green-brand;
		}
	}
	p {
		font-size: 0.8rem;
	}

	p.more {
		font-size: 1.2rem;
		margin: 8px 0;
		.more-adventures {
			color: white;
			padding: 12px 26px;
			text-transform: uppercase;
			background-color: $color__green-brand;
			&:link {
				text-decoration: none;
			}
			&:visited {
				color: white;
			}
			&:hover {
				background-color: darken($color__green-brand, 20%);
			}
		}
	} 
}

a.disappear {
	display: none;
}

//shop page
.products-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: $width;
	height: 100%;
	flex-flow: row-reverse wrap-reverse;
	flex-basis: 800px;
	margin: 0 0 80px;
	.entry-header-post img {
		margin: 0;
		object-fit: cover;
		height: 253px;
		border-bottom: 5px $color__border solid;
		margin: 0;
	}
}

.taxonomy-products-description p {
	font-family: Merriweather;
	font-size: 0.9rem;
	margin-bottom: 40px;
}

//blog page
#primary-home, .post-template-default .content-area {
	width: 790px;
	padding-right: 40px;
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
}

.entry-header img {
	margin-top: 50px;
	padding-top: 40px;
	width: 100%;
}

article .entry-title {
	display: block;
	position: absolute;
	transform: translateY(-500px);
	width: 550px;
	font-size: 2.1rem;
	background-color: $color__green-brand;
	padding: 20px 40px;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	a {
		color: white;
		text-decoration: none;
		&:hover {
			color: $color__yellow-brand;
		}
		&:visited:hover {
			color: $color__yellow-brand;
		}
	}
}

.entry-meta {
	float: right;
	color: white;
	position: absolute;
	transform: translate(87.1%, -51px);
	padding: 10px 25px;
	background-color: $color__green-brand;
	text-align: center;
	text-transform: uppercase;
	width: 400px;
	a {
		color: white;
		text-decoration: none;
		&:hover {
			color: $color__yellow-brand;
		}
		&:visited:hover {
			color: $color__yellow-brand;
		}
	}
}

div.entry-content {
	h2 {
		text-align: center;
		text-transform: uppercase;
	}
	p {
		font-size: 1.1rem;
		line-height: 1.3;
		font-weight: 100;
	}
}
.rml {
	width: 158px;
}
.entry-footer {
	text-transform: uppercase;
	font-size: 0.9rem;
	span a {
		text-decoration: none;
	}
}
.tags-links {
	padding-left: 20px;
}

.social-buttons {
	display: inline;
	margin: 0;
	div {
		display: inline;
		a {
			text-transform: uppercase;
		}
	}
}

.comments {
	.comments-titles {
		font-family: Merriweather;
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: bold;
	}
}

.post-a-comment {
	padding: 50px 0 20px;
	margin: 20px 0;
	font-size: 1.9rem;
	text-transform: uppercase;
	font-weight: bold;
}
.comment-invite {
	font-family: Merriweather;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

div.site-info a {
	display: inline;
}

.comment-list {
	margin: 0;
	padding: 0;
}

.comment-body {
	display: flex;
	margin: 40px 0;
	border-bottom: 1px $color__border solid;
	p{
		margin: 0;
	}
}

.comments-title {
	padding-top: 80px;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 2.2rem;
}

.comment-author-avatar {
	padding-right: 40px;
	img {
	border-radius: 49%;
	}
}

.comment-author {
	font-weight: bold;
	.fn {
		font-style: normal;
	}
}

.comment-metadata {
	color: $color__m-grey-brand;
	font-family: Merriweather;
	
	a {
		color: $color__m-grey-brand;
		&:hover {
			color: $color__m-grey-brand;
		}
		&:visited:hover {
			color: $color__m-grey-brand;
		}
	}
}

