/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.products-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: $width;
	height: 100%;
	flex-flow: row-reverse wrap-reverse;
	flex-basis: 800px;
	margin:0;
	img {
		object-fit: cover;
		height: 253px;
		border-bottom: 5px $color__border solid;
	}
}