/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

body.archive {
	.page-header {
		ul {
			margin: 0 auto;
			padding: 0;
			text-align: center;
			margin: 30px 0;
			padding-bottom: 60px;
			border-bottom: 1px $color__border dashed;
		}

	h1.page-title {
		text-align: center;
		padding-top: 100px;
	}
	}
}

.stuff {
	display: inline;
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
	font-size: 1.5em;
	a {
		text-decoration: none;
	}
}

.products-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: $width;
	height: 100%;
	flex-flow: row-reverse wrap-reverse;
	flex-basis: 800px;
	margin:0;
	p {
		padding:0;
		z-index: 10;
		background-color: $color__background-body;
	}
	img {
		object-fit: cover;
		height: 253px;
		border-bottom: 5px $color__border solid;
	}
}

article.type-product {
	width: 258px;
	height: 100%;
	padding: 0;
	margin: 13px 0;
	border: 1px $color__border solid;
	div.text-wrapper {
		display: flex;
		justify-content: center;
		align-items: space-between;
		flex-flow: row nowrap;
		div.dots {
			border-bottom: 2px black dotted;
			border-radius: 1px;
			flex-grow: 2;
			height: 18px;
			z-index: 0;
			margin: 10px 0;
		}
		p.product-title {
		margin: 10px 0 10px 20px;
		}
		p.product-price {
		margin: 10px 20px 10px 0;
		}
	}
}