/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	@include font-size(1);
	width: $width;
	margin: 0 auto;
}

p.site-description {
	display: none;
}

.home, .page {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	width: $width;
	border: 1px solid $color__border;
	margin: 0 auto;
	font-size: 16px;
	color: #404040;
	line-height: 1.75em;
	background-color: $color__background-screen;
}
 

div.menu-main-menu-container {
	position: fixed;
	width: $width;
	z-index: 1;
	margin: 0 auto;
}

#primary-menu.menu {
	position: relative;
	display: flex;
	width: 920px;
	margin: 0 auto;
	justify-content: flex-end;
	flex-direction: row;
	text-transform: uppercase;
	a:visited {
		color: $color__green-brand;
	}
	a:visited:hover {
		color: $color__link-hover;
	}
	li.menu-item {
		padding: 10px;
	}
}

h1.entry-title {
	text-transform: uppercase;
	font-size: 250%;
	text-align: center;
	transform: translateY(50vh);
	color: white;
}

div.entry-content {
	h2 {
		text-align: center;
		text-transform: uppercase;
	}
	p {
	width: 63%;
	margin: 0 auto;
	}
	margin: 30px auto;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}
blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: $base__space-unit;
}

ul, ol {
	margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $base__space-unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base__space-unit $base__space-unit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 $base__space-unit;
	width: 100%;
}


body.archive {
	.page-header {
		ul {
			margin: 0 auto;
			padding: 0;
			text-align: center;
			margin: 30px 0;
			padding-bottom: 60px;
			border-bottom: 1px $color__border dashed;
		}

	h1.page-title {
		text-align: center;
		padding-top: 100px;
		text-transform: uppercase;
		font-size: 2.6em;
		margin-top:0;
	}
	}
}

.taxonomy-products-description {
	text-align: center;
	font-size: 1.1em;
	border-bottom: 1px $color__border dashed;
	margin-bottom: 40px;
}

.stuff {
	display: inline;
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
	font-size: 1.5em;
	a {
		text-decoration: none;
	}
}

.products-wrapper {
	p {
		padding:0;
		z-index: 10;
		background-color: $color__background-body;
	}
}

article.type-product {
	width: 258px;
	height: 100%;
	padding: 0;
	margin: 13px 0;
	border: 1px $color__border solid;
	div.text-wrapper {
		display: flex;
		justify-content: center;
		align-items: space-between;
		flex-flow: row nowrap;
		div.dots {
			border-bottom: 2px black dotted;
			border-radius: 1px;
			flex-grow: 2;
			height: 18px;
			z-index: 0;
			margin: 10px 0;
		}
		p.product-title {
		margin: 10px 0 10px 20px;
		}
		p.product-price {
		margin: 10px 20px 10px 0;
		}
	}
}